<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Admin-- {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">{% endblock %}

{% block main %}
    {% if session['logged_in'] %}
        <main class="container">
            <header class="text-center">
                <h1>{{ payload['header_1'] }}م</h1>
                <h1>{{ payload['header_2'] }}َ</h1>
                <h1>{{ payload['header_3'] }}</h1>
            </header>

            <form class="form-signin" enctype=multipart/form-data method="POST" action="/change_header" id="setting">
                <h2 class="form-signin-heading">Change Header Text</h2>
                <div class="form-group file-field ">
                    <div class="form-group">
                        <label class="form-signin-heading form_label" for="header_1"> Header 1</label>
                        <input id="header_1" type="text" name="header_1" class="form-control"
                               value={{ payload['header_1'] }}>
                    </div>
                    <div class="form-group">
                        <label class="form-signin-heading form_label" for="header_2"> Header 2</label>
                        <input id="header_2" type="text" name="header_2" class="form-control"
                               value={{ payload['header_2'] }}>
                    </div>
                    <div class="form-group">
                        <label class="form-signin-heading form_label" for="header_3"> Header 3</label>
                        <input id="header_3" type="text" name="header_3" class="form-control"
                               value={{ payload['header_3'] }}>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="disable_api"
                               id="upload_file" {{ 'checked' if payload['read_from_file'] else "" }}>
                        <label class="form-check-label" for="upload_file">
                            Upload File instead
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="show_next_day" id="next_day">
                        <label class="form-check-label" for="next_day">
                            Show Next Day
                        </label>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" type="submit" value="update">Change</button>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {%- for category, message in messages %}
                            {% if category == "uploader" %}
                                <div class="alert alert-danger fade in">
                                    <strong>Error!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {%- endfor %}
                    {% endif %}
                {% endwith %}
            </form>
            </br>
            <form id="iqama" class="form-signin" action="/update_iqama" method="POST">
                <h2 class="form-signin-heading">Please Enter Iqama Times</h2>
                {% for i in range(data | length) %}
                    <label class="form-signin-heading form_label" for="{{ data[i] }}">{{ data[i].capitalize() }}</label>
                    <input id="{{ data[i] }}" type="{{ data[i] }}" name="{{ data[i] }}" class="form-control"
                           value="{{ payload['iqama'][i] }}"
                           autofocus=""/>
                {% endfor %}
                </br>
                </br>
                </br>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {%- for category, message in messages %}
                            {% if category == "update_iqama" %}
                                <div class="alert alert-danger fade in">
                                    <strong>Error!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {%- endfor %}
                    {% endif %}
                {% endwith %}
                <button class="btn btn-primary btn-sm pull-right" type="submit" value="update">Submit</button>
            </form>
            </br>
            <form id="setup" class="form-signin" action="/update_setup" method="POST">
                <h2 class="form-signin-heading">Please Enter Calculation Method</h2>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="form-signin-heading form_label" for="latitude" required>Latitude</label>
                        <input id="latitude" type="number" name="latitude" class="form-control"
                               value="{{ payload['latitude'] }}" type="number" step=any required step=any autofocus/>
                    </div>

                    <div class="form-group col-xs-6">
                        <label class="form-signin-heading form_label" for="longitude">Longitude</label>
                        <input id="longitude" name="longitude" class="form-control"
                               value="{{ payload['longitude'] }}" type="number" step=any required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="form-signin-heading form_label" for="methods">Change Calculation
                            Methods</label>
                        </br>
                        <select class="form-control" name="clac_method" id="methods" autofocus>
                            {% for method in methods %}
                                {% if payload['calculation'] == method %}
                                    <option value="{{ method }}" selected>{{ method }}</option>
                                {% else %}
                                    <option value="{{ method }}">{{ method }}</option>
                                {% endif %}


                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-xs-6">
                        <label class="form-signin-heading form_label" for="time_zone">Time Zone</label>
                        <input id="time_zone" name="time_zone" class="form-control"
                               value="{{ payload['time_zone'] }}" type="number" step=1 required autofocus/>
                    </div>
                </div>
                </br>
                </br>


                </br>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {%- for category, message in messages %}
                            {% if category == "update_setup" %}
                                <div class="alert alert-danger fade in">
                                    <strong>Error!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {%- endfor %}
                    {% endif %}
                {% endwith %}
                <button class="btn btn-primary btn-sm pull-right" type="submit" value="Log in">Submit</button>
            </form>
            </br>
            <form id="uploader_block" class="form-signin" enctype=multipart/form-data method="POST" action="/uploader">
                <h2 class="form-signin-heading">Upload File</h2>
                <div class="form-group file-field ">
                    <div class="btn btn-primary btn-sm float-left form-control">
                        <input id="file_input" name=file type="file"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    </div>
                    <input type=submit value=Upload>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {%- for category, message in messages %}
                            {% if category == "uploader" %}
                                <div class="alert alert-danger fade in">
                                    <strong>Error!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {%- endfor %}
                    {% endif %}
                {% endwith %}
            </form>

        </main>
    {% else %}
        <h1> hello</h1>
    {% endif %}
{% endblock %}