{% from "macros.html" import prayer_table with context %}
<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Home-- {% endblock %}


{% block main %}
<main>
    {{ prayer_table() }}
{#    <div class="slideshow-container">#}
{##}
{#        <div class="mySlides fade">#}
{#            <img src="{{ url_for('static', filename='images/full.jpg') }}">#}
{#        </div>#}
{##}
{#        <div class="mySlides fade">#}
{#            <img src="{{ url_for('static', filename='images/concert_poster.png') }}">#}
{#        </div>#}
{##}
{#        <div class="mySlides fade">#}
{#            {{ prayer_table() }}#}
{#        </div>#}
{#        #}
{#    </div>#}

    
</main>
{% endblock %}

{% block script %}
    <!--static js files static/js/-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
