<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Login-- {% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}

{% block main %}

  <div class="wrapper">
    <header class="text-center">
      <h1>As-salamu Alaykum</h1>
    </header>
    <form class="form-signin" action="/login" method="POST">
      <h2 class="form-signin-heading">Please Login</h2>
      <input type="username" name="username" class="form-control" placeholder="Username" required="" autofocus="" />
      <input input type="password" name="password" class="form-control" placeholder="Password" required="" />

        <ul>
          {%- for message in get_flashed_messages(category_filter=["login"]) %}
              <div class="alert alert-danger fade in">
                <strong>Error!</strong> {{ message }}
              </div>
          {%- endfor %}
        </ul>


      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Login</button>
    </form>
  </div>

{% endblock%}
